:root {
  --green-dark: #3f5e02ff;
  --green-bold: #1abc05ff;
  --green-midd: #83bc42ff;
  --green-lite: #bfc289ff;
  --pink-dark:  #87025eff;
  --pink-bold:  #f104aaff;
  --pink-midd:  #f15db8ff;
  --pink-lite:  #f4a3d2ff;
}

.bg-green-dark { background-color: var(--green-dark); }
.bg-green-bold { background-color: var(--green-bold); }
.bg-green-midd { background-color: var(--green-midd); }
.bg-green-lite { background-color: var(--green-lite); }
.bg-pink-dark  { background-color: var(--pink-dark);  }
.bg-pink-bold  { background-color: var(--pink-bold);  }
.bg-pink-midd  { background-color: var(--pink-midd);  }
.bg-pink-lite  { background-color: var(--pink-lite);  }

a.dropdown-item:active {
  background-color: var(--green-bold);
}

/* Ref. CSS combinators and selectors */
a:not(nav *) {
  color: var(--green-lite);
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
  text-decoration: var(--green-bold) underline dashed;
  transition: ease-in-out .15s;
}

a:not(nav *):hover {
  color: var(--green-bold);
  text-decoration: var(--green-lite) underline dashed;
}

a:not(nav *)::before {
  color: var(--green-bold);
  content: '> ';
}

b {
  color: var(--pink-lite);
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
}

.border-teldra-green {
  border: 3px dashed var(--green-bold);
}

.border-teldra-pink {
  border: 3px dashed var(--pink-bold);
}

code {
  color: var(--pink-bold);
  letter-spacing: 0.05rem;
}

.colorblock {
  padding: 0;
  height: 20px;
  width: 100%;
}

del {
  text-decoration: var(--green-bold) line-through 15%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5rem;
}

i {
  letter-spacing: 0.05rem;
}

li {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

ol, ul {
  padding-left: 1.5rem;
}

.pixelify {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

pre {
  background: color-mix(in srgb, var(--pink-dark) 10%, transparent);
  border: 3px dashed var(--pink-bold);
  color: var(--pink-bold);
  letter-spacing: 0.05rem;
  margin-bottom: 0rem;
  padding: 0.5rem;
}

u {
  text-decoration: var(--green-bold) underline dashed;
}

.u-full {
  border-bottom: 3px dashed var(--green-bold);
}
