:root {
  --green-dark: #47652cff;
  --green-dmid: #1abc05ff;
  --green-lmid: #83bc42ff;
  --green-lite: #e1e4c2ff;
  --pink-dark:  #87025eff;
  --pink-dmid:  #cd0390ff;
  --pink-lmid:  #f68bceff;
  --pink-lite:  #f7cee5ff;
}

.bg-green-dark { background-color: var(--green-dark); }
.bg-green-dmid { background-color: var(--green-dmid); }
.bg-green-lmid { background-color: var(--green-lmid); }
.bg-green-lite { background-color: var(--green-lite); }
.bg-pink-dark  { background-color: var(--pink-dark);  }
.bg-pink-dmid  { background-color: var(--pink-dmid);  }
.bg-pink-lmid  { background-color: var(--pink-lmid);  }
.bg-pink-lite  { background-color: var(--pink-lite);  }

.bg-green-dark-fade { background: color-mix(in srgb, var(--green-dark) 10%, transparent); }
.bg-pink-dark-fade  { background: color-mix(in srgb, var(--pink-dark) 10%, transparent);  }

a.dropdown-item:active {
  background-color: var(--green-dmid);
}

/* Ref. CSS combinators and selectors */
a:not(nav *) {
  color: var(--green-lite);
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
  text-decoration: var(--green-dmid) underline dashed;
  transition: ease-in-out .15s;
}

a:not(nav *):hover {
  color: var(--green-dmid);
  text-decoration: var(--green-lite) underline dashed;
}

a:not(nav *)::before {
  color: var(--green-dmid);
  content: '> ';
}

b {
  color: var(--pink-lmid);
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
}

.border-teldra-green {
  border: 3px dashed var(--green-dmid);
}

.border-teldra-pink {
  border: 3px dashed var(--pink-dmid);
}

.carousel .carousel-indicators [data-bs-target], [data-bs-theme=dark] .carousel .carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  margin: 8px;
  border-radius: 0;
  background-color: white;
}

code {
  color: var(--pink-dmid);
  letter-spacing: 0.05rem;
}

.colorblock {
  padding: 0;
  height: 20px;
  width: 100%;
}

del {
  text-decoration: var(--green-dmid) line-through 15%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5rem;
}

i {
  letter-spacing: 0.05rem;
}

li {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

ol, ul {
  padding-left: 1.5rem;
}

.pixelify {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

pre {
  background: color-mix(in srgb, var(--pink-dark) 10%, transparent);
  border: 3px dashed var(--pink-dmid);
  color: var(--pink-dmid);
  letter-spacing: 0.05rem;
  margin-bottom: 0rem;
  padding: 1rem;
}

u {
  text-decoration: var(--green-dmid) underline dashed;
}

.u-full {
  border-bottom: 3px dashed var(--green-dmid);
}
