{% extends "base.html" %}
{% load static %}
{% block title %}teldrassil | {{ post.short_title }}{% endblock %}
{% block content %}

<div class="container-fluid py-3">
  <div class="row">

    <div class="col-lg-5 pe-5 mb-5">
      <div class="p-4 align-self-top bg-body-tertiary border-teldra-green">

        <h1 class="pixelify">
          {{ post.title }}
        </h1>

        <p>
          <h5>By {{ post.author.display_name }} on {{ post.date_published }}</h5>

          {% if post.has_category %}
            <h6>
              Category:
              <a class="badge badge-pill bg-pink-dmid" href="{% url 'blog_posts_category' post.category %}">
                {{ post.string_of_category }}
              </a>
            </h6>
          {% else %}
            <h6>
              Category: {{ post.string_of_category }}
            </h6>
          {% endif %}

          {% if post.tags_count != 0 %}
            <h6>
              Tags:
              {% for tag in post.list_of_tags %}
                <a class="badge badge-pill bg-pink-dark" href="{% url 'blog_posts_tag' tag %}">
                  {{ tag }}
                </a>
              {% endfor %}
            </h6>
          {% else %}
            <h6>
              Tags: {{ post.string_of_tags }}
            </h6>
          {% endif %}
        </p>

        <p><a class="button-go button-go-back reverse pixelify fs-4" href="{{request.META.HTTP_REFERER|escape}}">
          < back
        </a></p>
      </div>
    </div>

    <div id="post-content" class="col-lg-7 mb-5 p-2 postify fs-4">
      <p>
        {{ post.content|linebreaksbr }}
      </p>
      <br />
      <p><a class="button-go button-go-back reverse pixelify fs-2" href="{{request.META.HTTP_REFERER|escape}}">
        < back
      </a></p>
    </div>

  </div> <!-- end row -->
</div> <!-- end container -->

{% endblock %}
