{% extends "base.html" %}
{% load static %}
{% block title %}teldrassil{% endblock %}
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide pixelify">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">

    <!-- Item One -->
    <div class="carousel-item active">
      <div class="row p-5 bg-pink-dark" style="height:400px;">
        <div class="col-2"></div>
          <div class="col-8 p-5 align-self-center">
            <h1>
              hi, i'm <br />
              shona 🥰
            </h1>
          </div>
        <div class="col-2"></div>
      </div>
    </div>

    <!-- Item Two -->
    <div class="carousel-item">
      <div class="row p-5 bg-green-dark" style="height:400px;">
        <div class="col-2"></div>
          <div class="col-8 p-5 align-self-center">
            <h1>
              a.k.a. <br />
              lowdensh ✨
            </h1>
          </div>
        <div class="col-2"></div>
      </div>
    </div>

    <!-- Item Three -->
    <div class="carousel-item">
      <div class="row p-5 bg-pink-dmid" style="height:400px;">
        <div class="col-2"></div>
          <div class="col-8 p-5 align-self-center">
            <h1>
              welcome to my realm, <br />
              teldrassil 🍃
            </h1>
          </div>
        <div class="col-2"></div>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev fs-2" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span> <🌛 </span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next fs-2" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span> 🌞 > </span>
    <span class="visually-hidden">Next</span>
  </button>
</div> <!-- end carousel -->

{% endblock %}


